*:active, *:focus {
    outline: 0 !important;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

html {
    background: #8899a0;
    background: linear-gradient(#8899a0, #ddd);
    padding: 0;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

body {
    font-family: "Trebuchet MS", "Lucida Sans", "Lucida Grande", "Lucida", "Verdana", sans-serif;
    color: #444;
    font-size: 80%;
    padding: 0;
    margin: 0;
    height: 100%;
}

#title {
    font-family: "Magneto", "Atomatic", "Staromat", "Yellowtail", "Brush Script MT", cursive;
    font-size: 300%;
    margin: 0 2% 1% 2%;
    color: rgba(255, 255, 255, 1);
}

#content {
    width: 90%;
    height: 85%;
    margin: 1% 0 0 5%;
    padding-bottom: 5%;
}

.controlbox {
    background: #467;
    background: linear-gradient(#8899a7, #467);
    min-height: 20px;
}

.controlbox:first-child {
    border-bottom: 1px solid #245;
}

.controlbox:last-child {
    border-top: 1px solid #467;
}

.controlbox > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.controlbox > ul > li {
    display: inline-block;
    float: left;
}

.controlbox > ul > li > a, .controlbox > ul > li > a:visited {
    padding: 2px 15px;
    display: inline-block;
    color: #fff;
    text-shadow: -1px -1px 0 #245;
}

.controlbox > ul > li > a:hover, .controlbox > ul > li > a:visited:hover {
    background: #fff;
    color: #245;
    text-decoration: none;
    text-shadow: -1px -1px 0 #cef;
}

.controlbox > ul > li > a.active {
    background: #245;
    text-shadow: none;
}

table {
    width: 100%;
}

.content-container {
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid #245;
}

.content-body {
    background: #eee;
    max-height: 100%;
    overflow-y: auto;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.25);
    clear: both;
}

.content-body > *:not(table) {
    padding: 10px 20px;
}

table td {
    padding: 2px 5px;
    border-top: 2px solid transparent;
}

table tr:nth-child(even) td {
    background: rgba(0, 0, 0, 0);
}

table tr:nth-child(odd) td {
    background: rgba(0, 0, 0, 0.1);
}

table tr:last-child td {
    border-bottom: 2px solid transparent;
}

table tr:hover td {
    background: #fff;
    border-color: #06c;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

table tr:hover + tr td {
    border-top: 0;
}

table tr > td:first-child {
    padding-left: 20px;
}

table tr > td:last-child {
    padding-right: 20px;
}

td.small {
    font-size: 80%;
}

* {
    outline: 0 !important;
}

.floatbox {
    vertical-align: middle;
}

.floatbox > * {
    float: left;
}

.right {
    float: right;
}

.floatbox > .lozenge {
    margin-top: 6px;
}

.floatbox > .tag-group {
    margin-top: 3px;
}

.floatbox > .lozenge.tag:hover {
    margin-top: 5px;
}

a, a:visited {
    text-decoration: none;
    color: #04a;
}

a.button, input[type="submit"], button {
    display: inline-block;
    border: 1px solid #888;
    background: #ccc;
    background: linear-gradient(to bottom, #ffffff 0%, #cccccc 100%);
    padding: 3px 7px;
    border-radius: 5px;
    margin: 2px;
    color: #444;
    text-shadow: 1px 1px 0 #fff;
}

.toolbar {
    display: inline-block;
}

.clearfix:after, .toolbar:after, .floatbox:after {
    content: "";
    display: table;
    clear: both;
}

.toolbar a.button {
    float: left;
}

.toolbar a.button:not(:first-child) {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.toolbar a.button:not(:first-child):hover {
    padding-left: 6px;
}

.toolbar a.button:not(:last-child) {
    margin-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-width: 0;
}

.toolbar a.button:not(:last-child):hover {
    border-right-width: 2px;
    padding-right: 6px;
}

.toolbar a.button:not(:last-child):hover + a.button {
    border-left-width: 0;
}

a:hover {
    text-decoration: underline;
    color: #077;
}

a.button:hover, input[type="submit"]:hover, button:hover {
    color: #04a;
    text-decoration: none;
    border-color: #06c;
    border-width: 2px;
    margin: 1px;
}

input[type="text"], textarea, select {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

input[type="text"]:focus, input[type="text"]:active, textarea:focus, textarea:active, select:focus, select:active {
    border-color: #04a;
}

form > div > div > * {
    float: left;
}

form > div > div > [type="submit"] {
    float: right;
}

form > div > div:after {
    content: " ";
    clear: both;
    visibility: hidden;
    display: block;
}

form div {
    padding: 5px 25px;
}

form label, h1, h2, h3, h4, h5, h6 {
    width: 5%;
    display: inline-block;
    color: #04a;
    opacity: 0.75;
    padding-top: 7px;
}

h1, h2, h3, h4, h5, h6 {
    font-variant: small-caps;
    margin: 0.25em;
}

form label {
    font-weight: bold;
    font-size: 90%;
    text-transform: uppercase;
}

form label + div {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    display: inline-block;
}

form label + div:focus, form label + div:active {
    border-color: #04a;
}

form label + div > div {
    padding: 0;
    display: inline-block;
}

form label + div input[type="text"], form label + div textarea, form label + div select {
    border: 0;
    border-radius: 0;
    padding: 0;
}

form label + * {
    margin: 0 0 0 20px;
    display: inline-block;
}

form input[type="text"], form textarea {
    width: 90%;
}

form textarea {
    height: 4em;
}

.archived {
    opacity: 0.5;
}

.lozenge, .tagselector label {
    font-family: "Eurostile", monospace;
    border: 1px;
    border-style: solid;
    border-radius: 3px;
    font-size: 80%;
    font-weight: bold;
    padding: 0.1em 0.5em;
    text-transform: uppercase;
    display: inline-block;
    margin: 1px;
    background: #fff;
}

.lozenge .lozenge {
    font-size: 100%;
}

.tag-group {
    border-color: #666;
    color: #666;
    cursor: default;
    vertical-align: middle;
    margin-top: 2px;
}

.tag-group + .tag.filter {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-top: 3px;
}

.tag-group + .tag.filter:hover {
    margin-top: 2px;
}

a.lozenge.tag:hover, .tagselector label:hover {
    text-decoration: none;
    border-width: 2px;
    margin: 0;
}

.indicator {
    width: 10px;
    height: 10px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.indicator.lozenge {
    border-radius: 10px;
}

.status-running {
    background: #0b0;
    background: linear-gradient(to bottom, #0f0 0%, #0b0 100%);
    box-shadow: inset 0 0 7px #0f0;
    border-color: #0a0;
}

.status-closed {
    background: #222;
    background: linear-gradient(to bottom, #555 0%, #222 100%);
    box-shadow: inset 0 0 7px #555;
    border-color: #666;
}

.status-todo {
    background: #ba0;
    background: linear-gradient(to bottom, #fd0 0%, #ba0 100%);
    box-shadow: inset 0 0 7px #fd0;
    border-color: #a80;
}

.status-open {
    background: #08a;
    background: linear-gradient(to bottom, #0af 0%, #08a 100%);
    box-shadow: inset 0 0 7px #0af;
    border-color: #08a;
}

.status-blocked {
    background: #910;
    background: linear-gradient(to bottom, #f40 0%, #910 100%);
    box-shadow: inset 0 0 7px #f40;
    border-color: #a20;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "OCR A", Consolas, Courier, monospace;
    color: #245;
}

body > footer {
    opacity: 0.75;
    color: #245;
    font-style: italic;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
}

.tagselector input[type="checkbox"] {
    display: none;
}

.tagselector label {
    width: auto;
    opacity: 1;
}
