.toggle-box {
    padding: 0;
    width: 7em;
    height: 2em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.toggle-box.disabled {
    cursor: default;
}

.toggle-left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0;
    min-width: 2em;
    z-index: 2;
}

.toggle-on {
    overflow: hidden;
    padding: 0;
    height: 100%;
    display: inline-block;
}

.toggle-on-inner {
    padding: 0;
    background: #0044aa;
    background: -moz-linear-gradient(top, #0066cc 0%, #0044aa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0066cc), color-stop(100%, #0044aa));
    background: -webkit-linear-gradient(top, #0066cc 0%, #0044aa 100%);
    background: -o-linear-gradient(top, #0066cc 0%, #0044aa 100%);
    background: -ms-linear-gradient(top, #0066cc 0%, #0044aa 100%);
    background: linear-gradient(to bottom, #0066cc 0%, #0044aa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0066cc', endColorstr='#0044aa', GradientType=0);
    color: #fff;
    height: 75%;
    width: 7em;
    border-radius: 5px;
    border: 1px solid #08f;
    display: inline-block;
}

.disabled .toggle-on-inner {
    background: #444;
    color: #aaa;
    border-color: #ccc;
}

.toggle-off {
    padding: 0;
    background: #bfbfbf;
    background: -moz-linear-gradient(top, #bfbfbf 0%, #dbdbdb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfbfbf), color-stop(100%, #dbdbdb));
    background: -webkit-linear-gradient(top, #bfbfbf 0%, #dbdbdb 100%);
    background: -o-linear-gradient(top, #bfbfbf 0%, #dbdbdb 100%);
    background: -ms-linear-gradient(top, #bfbfbf 0%, #dbdbdb 100%);
    background: linear-gradient(to bottom, #bfbfbf 0%, #dbdbdb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#dbdbdb', GradientType=0);
    color: #444;
    height: 75%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #aaa;
    display: inline-block;
}

.disabled .toggle-off {
    background: #ccc;
    color: #888;
}

.toggle-switch {
    padding: 0;
    height: 2em;
    width: 2em;
    position: absolute;
    right: -2px;
    top: -0.25em;
    border-radius: 10px;
    border: 1px solid #aaa;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
    display: inline-block;
    z-index: 4;
}

.disabled .toggle-switch {
    background: #aaa;
}

.toggle-box:not(.disabled):hover .toggle-switch {
    border-color: #08f;
}

.toggle-on-text {
    padding: 0.25em 0.5em;
    z-index: 3;
    line-height: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: inherit;
}

.toggle-off-text {
    padding: 0.25em 0.5em;
    float: right;
    z-index: 1;
    line-height: 1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: inherit;
}
