{% extends 'TimeTrackerBundle:Default:managed_base.html.twig' %}
{% block title %}Interval List{% endblock %}
{% block body %}
    <div class="floatbox">
        {% include 'TimeTrackerBundle:Default:tag_filters.html.twig' %}
    </div>
    <table cellpadding="0" cellspacing="0">
        {% for interval in intervals %}
            <tr>
                <td>
                    <a href="task?id={{ interval.task.id }}{{ filter is defined and filter is not null ? "&filter="~filter : "" }}">{{ interval.task.name }}</a>
                </td>
                <td><a
                            {% if interval.stop is not null %}
                                href="interval?id={{ interval.id }}"
                            {% endif %}
                            >
                        {{ interval.start | date(user.shortDateFormat~" "~user.timeFormat) }}
                        - {{ interval.stop is null ? "" : interval.stop | date(user.shortDateFormat~" "~user.timeFormat) }}</a>
                    {% if interval.task.status == "RUNNING" and interval.stop is null %}
                        <a class="button action"
                           href="taskstop?id={{ interval.task.id }}{{ filter is defined and filter is not null ? "&filter="~filter : "" }}">Stop</a>
                    {% endif %}
                </td>
                <td>{{ interval.time | date(user.dateSpanFormat~" "~user.timeSpanFormat) }}</td>
                <td class="small">{{ interval.note }}</td>
                <td>
                    {% for tag in interval.task.tags %}
                        {% include 'TimeTrackerBundle:Default:tag_widget.html.twig' %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
