{% extends 'base.html.twig' %}
{% block htmlcontent %}
    <head>
        <meta charset="UTF-8"/>
        <title>TimeTracker | {% block title %}{% endblock %}</title>
        {% stylesheets '@TimeTrackerBundle/Resources/public/css/common.css'
        '@TimeTrackerBundle/Resources/public/css/toggles.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
        {% endstylesheets %}
        {% include "TimeTrackerBundle:Default:tagstyle.html.twig" %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        {% javascripts
        '@TimeTrackerBundle/Resources/public/js/jquery.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
    <div id="title">Managed</div>
    <div id="content">
        <div class="content-container">
            <div class="controlbox">
                <ul>
                    {% set url=(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|split('/')[-1:]|join('')) %}
                    <li>
                        <a href="tasklist{{ filter is defined and filter is not null ? "?filter="~filter : "" }}" {{ url=="tasklist"?'class="active"':"" }}>Task
                            List</a></li>
                    <li>
                        <a href="intervallist{{ filter is defined and filter is not null ? "?filter="~filter : "" }}" {{ url=="intervallist"?'class="active"':"" }}>Interval
                            List</a></li>
                    <li><a href="taglist" {{ url=="taglist"?'class="active"':"" }}>Manage Tags</a></li>
                    <li><a href="raw" {{ url=="raw"?'class="active"':"" }}>Export Text</a></li>
                    <li><a href="report" {{ url=="report"?'class="active"':"" }}>Reports</a></li>
                </ul>
                {% block header %}{% endblock %}
            </div>
            <div class="content-body">
                {% block body %}{% endblock %}
            </div>
            <div class="controlbox">
                {% block footer %}{% endblock %}
            </div>
        </div>
    </div>
    <footer>
        Page Rendered On:
        {{ "now"|date(user.longDateFormat) }}
    </footer>
    {% javascripts
    '@TimeTrackerBundle/Resources/public/js/toggles.js'
    '@TimeTrackerBundle/Resources/public/js/tags.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts %}{% endblock %}
    </body>
{% endblock %}
