{% extends 'TimeTrackerBundle:Default:managed_base.html.twig' %}
{% block title %}Raw Text{% endblock %}
{% block body %}
    <div>
<pre>{% for task in tasks %}{% for tag in task.tags %}[{{ tag.name }}] {% endfor %}{{ task.name }} - {{ task.desc }}
{% endfor %}</pre>
    </div>
{% endblock %}
