{% extends 'TimeTrackerBundle:Default:managed_base.html.twig' %}
{% block title %}Reports{% endblock %}
{% block body %}
    <div id="chart-countClosedTasks"></div>
    <div id="chart-timeClosedTasks"></div>
    <table cellpadding="0" cellspacing="0">
        {% for task in closedInPeriod %}
            <tr class="task">
                <td><a href="task?id={{ task.id }}">{{ task.name }}</a></td>
                <td class="small">{{ task.desc[:150] }}{% if task.desc|length >150 %}...{% endif %}</td>
                {% if task.lastInterval is not empty %}
                    <td class="small">{{ task.time|date("%d\n%H%I%S")|nl2br }}</td>
                {% else %}
                    <td colspan="1"></td>
                {% endif %}
                <td>
                    {% for tag in task.tags %}
                        {% include 'TimeTrackerBundle:Default:tag_widget.html.twig' %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@TimeTrackerBundle/Resources/public/js/highcharts.js'
    '@TimeTrackerBundle/Resources/public/js/charts.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function () {
            $("#chart-countClosedTasks").highcharts(countClosedTasks({{ countClosedTasksPayload|json_encode|raw }}))
        });
        $(function () {
            $("#chart-timeClosedTasks").highcharts(timeClosedTasks({{ timeClosedTasksPayload|json_encode|raw }}))
        });
    </script>
{% endblock %}
