<a class="tag lozenge {{ tag_inverted is defined and tag_inverted ? "inverted":"" }} {{ tag.id }}"
   href="{{ tag_url is defined ? tag_url : "tag?id="~tag.id }}" index="{{ tag.id }}"
   title="[{{ tag.group is defined and tag.group is not null ? tag.group.name : "" }}] {{ tag.desc }}">{{ tag.name }}</a>
