<div class="tag-filters">
{% for group in tag_groups %}
    <div class="tag-group lozenge">{{ group.name }}
        {% for tag in group.tags %}
            {% set tag_inverted = (filter is defined and filter is not null and tag.id == filter) %}
            {% set tag_url = "?filter="~tag.id %}
            {% include 'TimeTrackerBundle:Default:tag_widget.html.twig' %}
        {% endfor %}
    </div>
{% endfor %}
{% for tag in tags %}
    {% if tag.group is null %}
        {% set tag_inverted = (filter is defined and filter is not null and tag.id == filter) %}
        {% set tag_url = "?filter="~tag.id %}
        {% include 'TimeTrackerBundle:Default:tag_widget.html.twig' %}
    {% endif %}
{% endfor %}
{% if filter is defined and filter is not null and filter != "" %}
    <a class="tag lozenge filter" href="?filter=" title="Remove tag filter.">All</a>
{% endif %}
</div>
