{% extends 'TimeTrackerBundle:Default:managed_base.html.twig' %}
{% block title %}Tag List{% endblock %}
{% block body %}
    <div class="toolbar right">
        <a class="button" href="tag">Add Tag</a>
        <a class="button" href="taggroup">Add Group</a>
    </div>
    {% for group in tag_groups %}
        <h2>{{ group.name }}</h2>
        <table cellpadding="0" cellspacing="0">
            {% for tag in group.tags %}
                <tr>
                    <td>
                        {% include 'TimeTrackerBundle:Default:tag_widget.html.twig' %}
                    </td>
                    <td>{{ tag.desc }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
    <h2>Ungrouped</h2>
    <table cellpadding="0" cellspacing="0">
        {% for tag in tags %}
            {% if tag.group is null %}
                <tr>
                    <td>
                        {% include 'TimeTrackerBundle:Default:tag_widget.html.twig' %}
                    </td>
                    <td>{{ tag.desc }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}
