<style type="text/css">
    {% for tag in tags %}
    .{{ tag.id }} {
        background: rgb({{ tag.pastelColor | join(',') }}) !important;
        border-color: rgb({{ tag.lightColor | join(',') }}) !important;
        color: rgb({{ tag.mainColor | join(',') }}) !important;
    }

    .{{ tag.id }}:active, .{{ tag.id }}:active:hover, .{{ tag.id }}.inverted, input[type="checkbox"]:checked + label.{{ tag.id }} {
        background: rgb({{ tag.mainColor | join(',') }}) !important;
        border-color: rgb({{ tag.lightColor | join(',') }}) !important;
        color: rgb({{ tag.pastelColor | join(',') }}) !important;
    }

    {% endfor %}
</style>
