{% extends 'TimeTrackerBundle:Default:managed_base.html.twig' %}
{% block title %}Edit Task{% endblock %}
{% block body %}
    {{ form(form) }}
    {% if obj is defined and obj is not null %}
        <h2>Work</h2>
        {% if obj.status != "CLOSED" and obj.status != "BLOCKED" and obj.status != "RUNNING" %}
            <a class="button action"
               href="taskstart?id={{ obj.id }}{{ filter is defined and filter is not null ? "&filter="~filter : "" }}">Start</a>
        {% endif %}
        <table cellpadding="0" cellspacing="0">
            {% for interval in obj.intervals %}
                <tr>
                    <td><a
                                {% if interval.stop is not null %}
                                    href="interval?id={{ interval.id }}"
                                {% endif %}
                                >
                            {{ interval.start | date(user.shortDateFormat~" "~user.timeFormat) }}
                            - {{ interval.stop is null ? "" : interval.stop | date(user.shortDateFormat~" "~user.timeFormat) }}</a>
                        {% if obj.status == "RUNNING" and interval.stop is null %}
                            <a class="button action"
                               href="taskstop?id={{ obj.id }}{{ filter is defined and filter is not null ? "&filter="~filter : "" }}">Stop</a>
                        {% endif %}
                    </td>
                    <td>{{ interval.time | date(user.dateSpanFormat~" "~user.timeSpanFormat) }}</td>
                    <td>{{ interval.note }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
