{% extends 'TimeTrackerBundle:Default:managed_base.html.twig' %}
{% block title %}Task List{% endblock %}
{% block body %}
    <div class="floatbox">
        {% include 'TimeTrackerBundle:Default:tag_filters.html.twig' %}
        <div class="toolbar right">
            <a class="button"
               href="tasklist?all{{ filter is defined and filter is not null ? "&filter="~filter : "" }}">Show
                Closed</a>
            <a class="button" href="task{{ filter is defined and filter is not null ? "?filter="~filter : "" }}">Add
                Task</a>
        </div>
    </div>
    <table cellpadding="0" cellspacing="0">
        {% for task in tasks %}
            <tr class="task {{ task.closed?"archived":"" }}">
                <td>
                    <div class="status-{{ task.status | lower }} indicator lozenge"></div>
                </td>
                <td>
                    <a href="task?id={{ task.id }}{{ filter is defined and filter is not null ? "&filter="~filter : "" }}">{{ task.name }}</a>
                </td>
                <td class="small">{{ task.desc[:150] }}{% if task.desc|length >150 %}...{% endif %}</td>
                {% if task.lastInterval is not empty %}
                    <td class="small">{{ task.lastInterval.start|date(user.shortDateFormat~"\n"~user.timeFormat)|nl2br }}</td>
                    <td class="small">{{ task.lastInterval.stop is empty ? "" : task.lastInterval.stop|date(user.shortDateFormat~"\n"~user.timeFormat)|nl2br }}</td>
                    <td class="small">{{ task.time|date(user.dateSpanFormat~"\n"~user.timeSpanFormat)|nl2br }}</td>
                {% else %}
                    <td colspan="3"></td>
                {% endif %}
                <td>
                    {% for tag in task.tags %}
                        {% include 'TimeTrackerBundle:Default:tag_widget.html.twig' %}
                    {% endfor %}
                </td>
                <td>
                    {% if task.status == "RUNNING" %}
                        <a class="button action"
                           href="taskstop?id={{ task.id }}{{ filter is defined and filter is not null ? "&filter="~filter : "" }}">Stop</a>
                    {% elseif task.status != "CLOSED" and task.status != "BLOCKED" %}
                        <a class="button action"
                           href="taskstart?id={{ task.id }}{{ filter is defined and filter is not null ? "&filter="~filter : "" }}">Start</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
